<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    
    <typeAliases>
        <typeAlias type="study.qi.pojo.Student" alias="Student"/>
        <typeAlias type="study.qi.pojo.Teacher" alias="Teacher"/>
    </typeAliases>


    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
<!--                /mybatis?useSSL=true&amp;useUnicode=true&amp;characterEncoding=UTF-8-->
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis?useSSL=true&amp;useUnicode=true&amp;characterEncoding=UTF-8"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>


    <!--绑定接口-->
    <mappers>
        <!--mybatis不能使用通配符-->
        <!--<mapper resource="study/qi/dao/*.xml"/>-->
        <package name="study/qi/dao"/>

    </mappers>

</configuration>